---
import { Image } from 'astro:assets';
import technical from '../../img/technical.webp';
import localseo from '../../img/local-seo.webp';
import iconStructure from '../../img/icon-structure.webp';
import hosting from '../../img/icon-audit.webp';
---

<section id="intro">
	<div class="container">
		<div class="swiper swiper-intro">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide-1">
					<div class="flex padding-x align-middle">
						<div class="cell small-18 medium-10">
							<h1>
								Technical<strong> <span class="theme-clr">web support</span></strong>
								<span class="txt-light">for</span>
								<strong>HVAC, plumbing, electrical</strong> & other contractors in the <strong>GTA</strong>..
							</h1>
						</div>
						<div class="cell small-18 medium-8 center performance">
							<Image src={technical} alt="Technical SEO andGoogle Business Profile optimization and local search results" />
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="flex padding-x align-middle">
						<div class="cell small-18 medium-10">
							<h1><strong>Performance Optimization</strong></h1>
							<p class="txt-lrg">
								<span class="semibold">Core Web Vitals</span> diagnostics, layout stabilization, and <span class="semibold">performance corrections</span>.
							</p>
						</div>
						<div class="cell small-18 medium-8 center performance">
							<Image src={technical} alt="Technical SEO andGoogle Business Profile optimization and local search results" />
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="flex padding-x align-middle">
						<div class="cell small-18 medium-10">
							<h1><strong>Technical SEO & Indexing</strong></h1>
							<p class="txt-lrg">Improve your <span class="semibold">visibility</span> when people search for your services <span class="semibold">"near me".</span></p>
						</div>
						<div class="cell small-18 medium-8 center technical">
							<Image src={localseo} alt="Technical SEO andGoogle Business Profile optimization and local search results" />
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="flex padding-x align-middle">
						<div class="cell small-18 medium-10">
							<h1><strong>Structural & Functional Corrections</strong></h1>
							<p class="txt-lrg">
								Fix <span class="semibold">broken layouts</span>, <span class="semibold">navigation</span>, <span class="semibold">forms</span>, and other technical inconsistencies.
							</p>
						</div>
						<div class="cell small-18 medium-8 center structure">
							<Image src={iconStructure} alt="Structure icon" class="structure" />
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="flex padding-x align-middle">
						<div class="cell small-18 medium-10">
							<h1><strong>Security & Maintenance</strong></h1>
							<p class="txt-lrg">Technical support for <span class="semibold">hosting, DNS, SSL certificates,</span> and more.</p>
						</div>
						<div class="cell small-18 medium-8 hosting center">
							<Image src={hosting} alt="Website Hosting, Maintenance & Support Illustration" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
