---
import { Image } from 'astro:assets';
import before from '../../img/before.webp';
import after from '../../img/after.webp';
import arrow from '../../img/arrow.svg';
---

<section id="intro">
	<div class="container">
		<h1>Technical <span>FIXES</span> for contractor websites.</h1>
		<p class="tagline">
			Fixing <span class="semibold">hidden issues</span> that <span class="semibold">prevent customers</span> from <span class="semibold">contacting you</span>.
		</p>

		<div id="before-after">
			<div>
				<p class="theme-clr">With Issues</p>
				<Image src={before} alt="Before image showing a website with technical issues" />
			</div>
			<div>
				<p class="highlight">After Fixes</p>
				<Image src={after} alt="After image showing a website with technical issues resolved" />
			</div>
		</div>

		<div class="repairs-list">
			<h2>Urgent repairs <span class="txt-reg">for</span> common technical issues:</h2>
			<ul class="arrow-list">
				<li>
					<span class="before">Expired SSL</span>
					<span class="arrow"><Image src={arrow} alt="arrow" /></span>
					<span class="after">Broken site <em>❌</em></span>
				</li>
				<li>
					<span class="before">Broken forms</span>
					<span class="arrow"><Image src={arrow} alt="arrow" /></span>
					<span class="after">Missed leads <em>⚠️</em></span>
				</li>
				<li>
					<span class="before">Slow mobile</span>
					<span class="arrow"><Image src={arrow} alt="arrow" /></span>
					<span class="after">Customers leave <em>⚠️</em></span>
				</li>
				<li>
					<span class="before">Broken links</span>
					<span class="arrow"><Image src={arrow} alt="arrow" /></span>
					<span class="after">Credibility issues <em>❌</em></span>
				</li>
				<li>
					<span class="before">Indexing errors</span>
					<span class="arrow"><Image src={arrow} alt="arrow" /></span>
					<span class="after">No Google visibility <em>⚠️</em></span>
				</li>
			</ul>
			<!-- <ul>
				<li>Expired SSL certificates <Image src={arrow} alt="arrow" /> <span>“Not Secure” browser warning</span></li>
				<li>Broken forms <Image src={arrow} alt="arrow" /> <span>missed leads</span></li>
				<li>Slow mobile page-loads <Image src={arrow} alt="arrow" /> <span>visitors leave</span></li>
				<li>Broken links <Image src={arrow} alt="arrow" /> <span>credibility issues</span></li>
				<li>Indexing errors <Image src={arrow} alt="arrow" /> <span>missing Google visibility</span></li>
			</ul> -->
		</div>

		<div class="cta"><a class="btn" href="#contact" role="link" aria-label="link to form">SCAN YOUR WEBSITE</a></div>
	</div>

	<style lang="scss">
		@use '../../styles/variables' as var;

		#before-after {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
			margin: 0 auto 2rem;
			max-width: 750px;
			text-align: center;
			gap: 1rem;
		}

		#before-after p {
			text-align: center;
			margin-bottom: 0.25rem;
			font-family: var.$font-sans-serif-bold;
			font-size: 1.2rem;
			text-transform: uppercase;
		}
	</style>
</section>
