---
import { Image } from 'astro:assets';
import iconIssueBroken from '../../img/icon-issue-broken.svg';
import iconIssueSSL from '../../img/icon-issue-ssl.svg';
import iconIssueGBP from '../../img/icon-issue-gbp.svg';
import iconIssueSpeed from '../../img/icon-issue-speed.svg';
import iconStructure from '../../img/icon-structure.webp';
import iconIssueResponsive from '../../img/icon-issue-responsive.svg';
---

<section id="masonry-section">
	<div class="container top">
		<p class="eyebrow">Help With Common</p>
		<h2 class="margin-btm-med">Technical Issues</h2>
		<div class="masonry-grid trig-fade-up enable-trig">
			<div class="masonry-item trig-target" style="--trig-delay: 0s;">
				<p class="issue">Broken Links & Forms</p>
				<h3>Broken forms and "404 Page Not Found" errors damage trust and search results, causing missed potential customer opportunities</h3>
				<div><Image src={iconIssueBroken} alt="Broken Links & Forms icon" class="broken" /></div>
			</div>
			<div class="masonry-item trig-target" style="--trig-delay: .2s;">
				<p class="issue">Security & Updates</p>
				<h3>Expired SSL certificates, HTTP issues, and outdated plugins can trigger warnings</h3>
				<div><Image src={iconIssueSSL} alt="SSL Warning icon" class="ssl" /></div>
			</div>
			<div class="masonry-item trig-target" style="--trig-delay: .4s;">
				<p class="issue">Google & Indexing</p>
				<h3>Outdated Google Business Profiles, missing Analytics, no Search Console setup - reduces visibility</h3>
				<div><Image src={iconIssueGBP} alt="Google Business Profile icon" class="gbp" /></div>
			</div>
			<div class="masonry-item trig-target" style="--trig-delay: .s;">
				<p class="issue">Performance & Speed</p>
				<h3>Poor performance scores and page load times can contribute to higher bounce rates</h3>
				<div><Image src={iconIssueSpeed} alt="Performance & Speed icon" class="speed" /></div>
			</div>
			<div class="masonry-item trig-target" style="--trig-delay: .8s;">
				<p class="issue">Structure & Navigation</p>
				<h3>Navigation, layout, and naming inconsistencies can be confusing and affect SEO</h3>
				<div><Image src={iconStructure} alt="Structure icon" class="structure" /></div>
			</div>
			<div class="masonry-item trig-target" style="--trig-delay: 1s;">
				<p class="issue">Responsiveness & Mobile</p>
				<h3>Non-responsive design and poor mobile optimization can lead to a frustrating experience</h3>
				<div><Image src={iconIssueResponsive} alt="Responsive Design icon" class="responsive" /></div>
			</div>
		</div>
	</div>
</section>
